<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3">

    @for (product of products; track $index) {

        <div class="card bg-gray-700 w-full shadow-xl">
            <figure>
                <img [src]="'https://redautoshop.com.ar/assets/images/products/neumaticos/1-' + product.diseno + '-m.png'" alt="Neumático"
                class="w-full h-58 object-cover" />
            </figure>
            <div class="card-body text-gray-200">
              <h2 class="card-title">{{product.descripcion}}</h2>
              <p>{{product.precioahora | currency}}</p>
              <div class="card-actions justify-end">
                <button class="btn btn-accent">Buy Now</button>
              </div>
            </div>
        </div>

    }


   
</div>
