<div class="flex gap-3 justify-center">

    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>

    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque suscipit aperiam accusamus reprehenderit officiis dicta saepe error vero molestias sapiente veniam expedita eveniet itaque, corporis praesentium at nisi quam cum consequuntur accusantium dolores! Accusantium a reprehenderit tempora! Voluptas at perspiciatis deleniti totam maiores eaque, aliquid ab debitis odio repudiandae facilis natus laboriosam iste ea vel vitae, eveniet voluptatem molestiae. Eius obcaecati corporis eaque vero animi unde dolores temporibus blanditiis dolor, facere iusto nisi expedita nam atque officiis saepe quae ipsum adipisci laborum fuga sapiente. Soluta consequatur aut quis minima, quod sit sapiente magni earum in, atque ullam. Fuga, minima perferendis?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
</div>
